/* .container{
    background-color: orange;
    padding: 20px;
    width: 500px;
    border: 1px solid black;
    margin: 0 auto;
    border-radius: 10px;
}
.container1{
    background-color: rgb(75, 179, 54) !important;
    padding: 20px;
    width: 500px;
    border: 1px solid black;
    margin: 0 auto;
    border-radius: 10px;
}

#result{
    text-decoration: white !important;
} */


